---
import strapi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import VideoHero from "../components/VideoHero.astro";
import PropertyCardList from "../components/PropertyCardList.astro";
import LocationGrid from "../components/LocationGrid.astro";
import { ownerRez } from "../lib/ownerRez";

const posts = await strapi.collection("posts").find();
const listings = await ownerRez.getListings(true);
const properties = await ownerRez.getProperties();
const locations = await strapi.collection("locations").find();
---

<Layout>
	<main>
		<section class="sticky top-0 h-screen -z-10">
			<VideoHero />
		</section>

		<PropertyCardList title="Featured Properties" listings={listings.items} />
		<LocationGrid locations={locations.data} />
	</main>

	<script>
		import { gsap } from "gsap";
		import { ScrollTrigger } from "gsap/ScrollTrigger";

		gsap.registerPlugin(ScrollTrigger);

		const video = document.querySelector("video");
		const heroSection = document.querySelector(".sticky");

		if (video && heroSection) {
			ScrollTrigger.create({
				trigger: "#featured-properties-section",
				start: "top top", // When content fully covers hero
				onEnter: () => {
					video.pause();
					// Optional: hide to prevent painting
					gsap.set(heroSection, { autoAlpha: 0 });
				},
				onLeaveBack: () => {
					video.play();
					gsap.set(heroSection, { autoAlpha: 1 });
				},
			});
		}
	</script>
</Layout>
