---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import strapi from "../lib/strapi";

const posts = await strapi.collection("posts").find();

<Layout>
	<body>
		<main>
			<ul>
				{posts.data.map((post) => (
					<li>
						<a href={`/blog/${post.slug}/`}>{post.Title}</a>
					</li>
				))}
			</ul>
		</main>
	</body>
</Layout>;
---
