---
import strapi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import VideoHero from "../components/VideoHero.astro";
import LocationGrid from "../components/LocationGrid.astro";

const posts = await strapi.collection("posts").find();
const locations = await strapi.collection("locations").find();
---

<Layout>
	<main>
		<VideoHero />
		<LocationGrid locations={locations.data} />
	</main>
</Layout>
